@import url('https://fonts.googleapis.com/css2?family=Cal+Sans:wght@400;700&family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: var(--background);
  color: var(--foreground);
  font-family:  Inter, sans-serif;
}
h1,h2,h3,h4,h5,h6{
  font-family: Cal Sans, sans-serif;
}
h1 {
  @apply leading-[1.25] text-[clamp(18px,4vw+1rem,28px)];
  @apply md:text-[clamp(22px,3vw+3rem,48px)] md:leading-[52px];
}
h2 {
  font-size: clamp(20px, 2.5vw + 0.8rem, 40px);
}
h3 {
  font-size: clamp(18px, 2vw + 0.6rem, 32px);
}
h4 {
  font-size: clamp(16px, 1.5vw + 0.5rem, 28px);
}
h5 {
  font-size: clamp(14px, 1vw + 0.8rem, 24px);
}
h6 {
  font-size: clamp(12px, 0.8vw + 0.6rem, 18px);
}
.container {
  @apply py-4 sm:py-6 md:py-8 lg:py-10 xl:py-12 px-4 xl:max-w-[1350px];
}
.tooltip {
  --b: 3em; /* base */
  --h: 3em; /* height */

  --p: 0%; /* triangle position (0%:left 100%:right) */
  --r: 1.2em; /* the radius */
  --c: #FFFFFF;

  padding: 1.5em;
  border-radius: var(--r) var(--r) min(var(--r),100% - var(--p) - var(--b)/2) min(var(--r),var(--p) - var(--b)/2)/var(--r);
  clip-path: polygon(0 100%,0 0,100% 0,100% 100%,
    min(100%,var(--p) + var(--b)/2) 100%,
    var(--p) calc(100% + var(--h)),
    max(0%  ,var(--p) - var(--b)/2) 100%);
  background: var(--c);
  border-image: conic-gradient(var(--c) 0 0) fill 0/
    var(--r) calc(100% - var(--p) - var(--b)/2) 0 calc(var(--p) - var(--b)/2)/
    0 0 var(--h) 0;
}